:host {
  display: inline-block;

  /** --background-color: Defines the background-color of the button. */
  --background-color: var(--dnn-color-primary, blue);

  /** @prop --color: Defines the color of the button content */
  --color: var(--dnn-color-primary-contrast, white);

  /** @prop --color: Defines the color around the button when focuses */
  --focus-color: var(--background-color);

  /** @prop --border-radius: Defines the radius of the button borders */
  --border-radius: var(--dnn-controls-radius, 0);

  /** @prop --padding: Defines the padding on the button */
  --padding: var(--dnn-controls-padding, 5px);
}

/* Primary is default so we have nothing to override.

/* Secondary overrides. */
.secondary{
  --background-color: var(--dnn-color-secondary);
  --color: var(--dnn-color-secondary-contrast);
  --focus-color: var(--dnn-color-secondary);
}

/* Tertiary overrides. */
.tertiary{
  --background-color: var(--dnn-color-tertiary);
  --color: var(--dnn-color-tertiary-contrast);
  --focus-color: var(--dnn-color-tertiary);
}

button{
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--color);
  border: none;
  padding: var(--padding);
  border-radius: var(--border-radius);
}
button:hover, button:focus{
  outline: none;
  box-shadow: 0 0 2px 2px var(--focus-color);
}

button.small{
  padding: calc(0.5 * var(--padding)) calc(0.5 * var(--padding));
  font-size:0.8em;
}

button.large{
  padding: calc(1.5 * var(--padding)) calc(2 * var(--padding));
  font-size: 1.2em;
  font-weight: medium;
}

/* Reversed styles. */
button.reversed{
  background-color: var(--color);
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

/* Disabled state */
button.disabled{
  cursor: not-allowed;
  opacity: 0.8;
  filter: saturate(0.5);
}